.c3-metadata-id-podbalancer-analysisworkstreamscardlist {
  .c3-card-title {
    display: none;
  }
}

.c3-metadata-id-podbalancer-manageworkstreammodalform {
  .c3-sdl-form {
    border: 0 !important;
  }
}

.c3-k-header-content-wrapper span {
  display: inline-table;
}