// Workstreams container
.c3-metadata-id-podbalancer-analysisworkstreamscontainer {
  background-color: rgb(28, 29, 31);
  padding: 10px;

  .c3-sdl-layout-container-row {
    margin: 10px 0;
  }

  .c3-sdl-layout-container-content {
    padding: 0;
  }

  .c3-sdl-layout-container-header.c3-card-title {
    padding: 0 6px;
    padding-bottom: 14px;
  }

  .c3-sdl-layout-container-row:nth-child(1) {
    margin: 0;
  }

  .c3-sdl-layout-container-row:nth-child(2) {
    margin-top: 0;
  }

  // Workstreams card list
  .c3-metadata-id-podbalancer-analysisworkstreamscardlist {
    // Hide card title on Workstreams card list
    .c3-card-title {
      display: none;
    }

    .c3-sdl-card-container {
      padding: 0;
    }

    > .c3-sdl-card-list {
      margin: 0;

      .c3-sdl-card {
        margin: 6px 0;
      }
    }
  }
}

// Remove border on Manage Workstream modal form
.c3-metadata-id-podbalancer-manageworkstreammodalform {
  .c3-sdl-form {
    border: 0 !important;
  }
}

// Wrap data grid column titles
.c3-k-header-content-wrapper span {
  display: inline-table;
}

.c3-metadata-id-podbalancer-analysistabpanel {
  // Remove extra margin on left and right of tab panel content
  .c3-sdl-tabpanel-tab-pane {
    margin: 10px 0;
  }

  // Add spacing between components in Analysis section
  .c3-sdl-layout-container-row {
    margin: 10px 0;
  }
}

// Remove white scroll bar on the right of the Burndown data grid
.c3-metadata-id-podbalancer-analysisburndowndatagrid .k-grid-content {
  display: contents !important;
}

// Show cursor as pointer when hovering over segmented button group
.c3-sdl-segmented-button-group.outlined:hover {
  cursor: pointer;
}